*.vpp.*
*.vbak
*.zip
*.vs
*.vs*
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
src/x64/
*/x64/
src/MPK/MPK/x64/Debug/*
src/MPK/x64/Debug/*
src/MPK/MPK/Debug
*.log
src/MPK/MPK/MPK.cpp
src/MPK/config.json
src/MPK/CppProperties.json